<body>
    <div class="container">
        <img [src]="logo" alt="Logo de Aurinko" class="logo">
        <div class="row">
            <div class="column">
                <form class="form" (ngSubmit)="resultAtm.valid && onSubmit()" #resultAtm="ngForm">
                    <input type="text" name="userCity" #userCity placeholder="Votre ville" [(ngModel)]="userChoice"
                        class="textInput">
                    <button type="submit" class="submit">Rechercher</button>
                    <div class="errors">
                    </div>
                </form>

                <div *ngIf="isDisplayed" class="meteo">
                    <div class="conditions">{{resultat.conditions}}</div>
                    <div class="separator"></div>
                    <div class="img"><img [src]="conditionsLogo" alt="logoConditions"></div>
                    <div class="temperature">{{resultat.degrees}}°C</div>
                    <div class="lieu">{{resultat.ville}}</div>
                </div>
            </div>
        </div>
    </div>
</body>